<!DOCTYPE html>
<html>
  <head>
    <title>Rails_kadai1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class = "wrapper">
        <header>
          <%= image_tag "head.jpeg", class: "img_head" %>
        </header>
        <div class = "main_body">
          <%= yield %>
        </div>
        <footer>
        <%= image_tag "foot.jpeg", class: "img_foot" %>
        </footer>
      </div>     
  </body>
</html>
